<form class="login">
    <h1 class="login__header">Вход</h1>
    <div class="login__fields">
        {{{ loginInput }}}
        {{{ passwordInput }}}
    </div>
    <div class="login__buttons">
        {{{ authButton }}}
        {{{ registerButton }}}
    </div>
</form>
