<div class="profile">
    <a href="#" page="userProfile"><div class="profile__back"><img src="arrow-send.svg" alt="arrow"></div></a>
    <div class="profile__info">
        <div class="info__main">
            <div class="info__main__image">
                <img src="{{#if photo}}{{photo}}{{~else~}}profile-photo.svg{{/if}}" alt="photo">
                <div class="info__main__image--change-image">Поменять аватар</div>
            </div>
            <div class="info__main__name">{{name}}</div>
        </div>
        <div class="info__description">
            {{~#each profileDescription}}
                <div class="info__description__container">
                    {{> Input type="text" label=attribute name=name}}
                    <p class="description__container__value">{{value}}</p>
                </div>
            {{/each}}
        </div>
        <a href="#" page="userProfile">
            {{> Button type="confirm" text="Сохранить"}}
        </a>
    </div>
</div>