<div class="profile">
    <button class="profile__back"><img src="arrow-send.svg" alt="arrow"></button>
    <form class="profile__info">
        <div class="info__description">
            {{{ oldPasswordInput }}}
            {{{ newPasswordInput }}}
        </div>
        {{{ saveButton }}}
    </form>
</div>
