<div class="profile">
    <button class="profile__back"><img src="arrow-send.svg" alt="arrow"></button>
    <form class="profile__info">
        <div class="info__description">
            {{> Input type="password" label="Старый пароль" name="oldPassword"}}
            {{> Input type="password" label="Новый пароль" name="newPassword"}}
        </div>
        {{> Button type="confirm" text="Сохранить" isSubmit=true}}
    </form>
</div>
