html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

#app {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}
