<form class="signin">
    <div class="signin__fields">
        <h1 class="signin__header">Регистрация</h1>
        {{> Input type="text" label="Почта" name="email"}}
        {{> Input type="text" label="Логин" name="login"}}
        {{> Input type="text" label="Имя" name="first_name"}}
        {{> Input type="text" label="Фамилия" name="second_name"}}
        {{> Input type="text" label="Телефон" name="phone"}}
        {{> Input type="password" label="Пароль" name="password"}}
        {{> Input type="password" label="Пароль (ещё раз)" name="password" errorText="Пароли не совпадают"}}
    </div>
    <div class="signin__buttons">
        <a href="#" page="chat">{{> Button type="confirm" text="Зарегистрироваться"}}</a>
        <a href="#" page="login">{{> Button type="cancel" text="Войти"}}</a>
    </div>
</form>